<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Tajawal&display=swap" rel="stylesheet">

    <title>To Do App</title>
  </head>
    <section id="addTask">
      <form>
        <input type="text" id="task" name="taskInput" placeholder="Add a Task">
        <button type="button" id="addTaskBtn">
          <div id="line-wrapper">
            <div id="horizontal"></div>
            <div id="vertical"></div>
          </div>
        </button>  
      </form>
      <ul id="taskList">
        <!-- <li>
          <input type="checkbox"> 
          <label>Mleko</label>
        </li>
        <li>
          <input type="checkbox"> 
          <label>Kawa</label>
        </li>
        <li>
          <input type="checkbox"> 
          <label>Hierbata</label>
          
        </li> -->
      </ul>
    </section>
    <section id="removeTask"></section>
    <body>
  </body>
</html>