<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Tajawal&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/3.6.95/css/materialdesignicons.min.css">

    <title>To Do App</title>
  </head>
  <body>
    <section id="addTask">
      <button id="logoutButton" class="buttons" type="button">Log out</button>
      <form id="taskForm">
        <input type="text" id="task" name="taskInput" placeholder="Add a Task">
        <p id="errorMsg"></p>
        <button type="button" id="addTaskBtn">
          <div id="line-wrapper">
            <div id="horizontal"></div>
            <div id="vertical"></div>
          </div>
        </button>  
      </form>
      <ul id="taskList">
      </ul>
      
    </section>
    <section id="homePage">
      <form id="createAccForm">
        <label for="createAccount" id="createAccLabel" class="labels">Create your account</label>
        <input type="text" id="createAccount" class="tripInputs" name="createAccount" placeholder="Enter username">
        <input type="password" id="loginPass" class="labels" name="password" minlength="5" required placeholder="Enter your password">
        <button id="createAccBtn" class="buttons" type="button">Create</button>
      </form>

      <div id="displayMessage">Miejsce na Twoją wiadomość</div>

      <form id="loginForm">
        <label for="login" id="loginLabel" class="labels">Sign in</label>
        <input type="text" id="login" class="tripInputs" name="login" placeholder="Enter your login">
        <input type="password" id="pass" class="labels" name="password" minlength="5" required placeholder="Enter your password">
        <button id="loginButton" class="buttons" type="button">Login</button>
      </form>
    </section>
    
    
  </body>
</html>