/* Charcoal rgb(38, 70, 83);
Persian Green rgb(42, 157, 143)
Maize Crayola rgb(233, 196, 106)
Sandy Brown rgb(244, 162, 97)
Burnt Sienna rgb(231, 111, 81) */


body {
  background: rgb(98,131,149);
  background: linear-gradient(153deg, rgba(98,131,149,1) 15%, rgba(217,229,214,1) 66%);
  height: 100vh;
  font-family: 'Space Grotesk', sans-serif;
  /* font-size: 1em; */
}

.inputs {
  padding: 0;
  border: 0;
  font-family: 'Space Grotesk', sans-serif;
}

.labels {
  font-size: 2em;
  font-family: 'Space Grotesk', sans-serif;
}

#addTask {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    'logoutbtn'
    'formAddTask'
    'list';
}

#logoutButton{
  grid-area: 'logoutbtn';
  background-color: rgb(245, 93, 62);
  height: 4em;
  width: 6em;
  padding: 0;
  border: 0;
  /* background-color: rgba(12, 48, 68, 0.781); */
  color: aliceblue;
  justify-self: end;
  margin-top: 3em;
  margin-right: 2em;
}

#taskForm{
  grid-area: formAddTask;
  display: grid;
  width: 25em;
  justify-self: center;
  grid-template-columns: 1fr 1fr;
  column-gap: 1%;
  grid-template-areas: 
   'taskInput taskBtn';
  margin-top: 10em;
}

#task {
  grid-area: taskInput;
  width: 23em;
  height: 3em;
}

#addTaskBtn { /* button with plus sign form https://www.youtube.com/watch?v=xug428_PyQ0 */
  grid-area: taskBtn;
  background-color: rgb(245, 93, 62);
  border: none;
  transition-duration: 0.4s;
  width: 3em;
  height: 3em;
  padding: 12px;
  color: rgb(243, 243, 244);
  justify-self: center;
}

#addTaskBtn:hover {
  background-color: rgb(150, 64, 47); 
  color: white;
  cursor: pointer;
}

#horizontal, #vertical {
  width: 100%;
  height: 2px;
  background-color: aliceblue;
}

#vertical {
  position: relative;
  bottom: 2px;
  transform: rotate(90deg);
}

#taskList {
  grid-area: list;
  justify-self: center;
  width: 25em;
  margin-top: 2em;
}

#taskList li {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1em;
  font-size: 1.2em;
  height: 2.5em;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1em auto 30px;
  gap: 0.5em;
  background-color: rgba(98, 131, 149, 0.781);
}

input[type="checkbox"] { /* checkbox styling from https://moderncss.dev/pure-css-custom-checkbox-style/ */
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: rgba(15, 64, 90, 0.781);
  width: 1.15em;
  height: 1.15em;
  border: 0.13em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);  /*moves checkbox a bit higher to make one line with a label */
  display: grid;
  place-content: center;
}

input[type="checkbox"]::before { /* checkbox styling from https://moderncss.dev/pure-css-custom-checkbox-style/ */
  content: "";
  width: 0.6em;
  height: 0.6em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  background-color: CanvasText;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before { /* checkbox styling from https://moderncss.dev/pure-css-custom-checkbox-style/ */
  transform: scale(1);
}

/*delete button styling https://codepen.io/jcsb/pen/qzPyRV */

.btn-delete {
  align-items: center;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: rgb(255, 166, 0);
}
.btn-delete > .delete_button_hovered {
  display: none;
}

.btn-delete:hover > .delete_button_hovered {
  display: block;
}
.btn-delete:hover > .delete_button {
  display: none;
}

#homePage{
  display: grid;
  grid-template-rows: repeat(3, auto);
  row-gap: 6em;
  grid-template-columns: 1fr;
  grid-template-areas:
    'creAccForm'
    'message'
    'logForm';
  width: 30vw;
  margin: 5em auto 0 auto;
}

#createAccForm {
  grid-area: creAccForm;
  justify-self: start;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, auto);
  column-gap: 1em;
  row-gap: 1em;
  grid-template-areas:
    'crAccLab crAccLab'
    'crAcc .'
    'logPass crAccBtn';
  width: 30em;
}

#createAccLabel {
  grid-area: crAccLab;
  margin-bottom: 1em;
}

#createAccount {
  grid-area: crAcc;
  /* margin-top: 2em; */
  height: 4em;
}

#loginPass {
  grid-area: logPass;
  padding: 0;
  border: 0;
  font-family: 'Space Grotesk', sans-serif;
}

#createAccBtn {
  grid-area: crAccBtn;
  /* justify-self: end; */
  /* margin-top: 1.5em; */
  height: 4em;
  width: 6em;
  padding: 0;
  border: 0;
  background-color: rgba(12, 48, 68, 0.781);
  color: aliceblue;
}

#createAccBtn:hover {
  background-color: rgba(41, 134, 184, 0.781);
  color: white;
  cursor: pointer;
}

#displayMessage {
  margin-top: 1em;
  grid-area: message;
  font-size: 1.5em;
  margin-bottom: 1em;
  font-family: 'Space Grotesk', sans-serif;
  color:rgb(235, 235, 250)
}

#loginForm {
  grid-area: logForm;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    'logLab logLab'
    'login .'
    'pass logBtn';
  width: 30em;
  column-gap: 1em;
  row-gap: 1em;
}

#loginLabel {
  grid-area: logLab;
  margin-bottom: 1em;
}

#login {
  grid-area: login;
  height: 4em;
}

#pass {
  grid-area: pass;
}

#loginButton {
  grid-area: logBtn;
  height: 4em;
  width: 6em;
  padding: 0;
  border: 0;
  background-color: rgba(26, 99, 138, 0.781);
  color: aliceblue;
}

#loginButton:hover {
  background-color: rgba(11, 36, 49, 0.781);
  color: white;
  cursor: pointer;
}

